:root {
  /* gray */
  --gray-50: hsl(240, 5%, 99%);
  --gray-100: hsl(240, 5%, 95%);
  --gray-200: hsl(240, 5%, 87%);
  --gray-300: hsl(240, 5%, 78%);
  --gray-400: hsl(240, 5%, 68%);
  --gray-500: hsl(240, 5%, 57%);
  --gray-600: hsl(240, 5%, 46%);
  --gray-700: hsl(240, 5%, 34%);
  --gray-800: hsl(240, 5%, 22%);
  --gray-900: hsl(240, 5%, 10%);
  --gray-10: hsl(240, 5%, 5%);

  /* Dark Red */
  --dark-red-50: hsl(0, 70%, 99%);
  --dark-red-100: hsl(0, 70%, 95%);
  --dark-red-200: hsl(0, 70%, 87%);
  --dark-red-300: hsl(0, 70%, 78%);
  --dark-red-400: hsl(0, 70%, 68%);
  --dark-red-500: hsl(0, 70%, 57%);
  --dark-red-600: hsl(0, 70%, 46%);
  --dark-red-700: hsl(0, 70%, 34%);
  --dark-red-800: hsl(0, 70%, 22%);
  --dark-red-900: hsl(0, 70%, 10%);
  --dark-red-10: hsl(0, 70%, 5%);

  /* Dark Purple */
  --dark-purple-50: hsl(280, 30%, 99%);
  --dark-purple-100: hsl(280, 30%, 95%);
  --dark-purple-200: hsl(280, 30%, 87%);
  --dark-purple-300: hsl(280, 30%, 78%);
  --dark-purple-400: hsl(280, 30%, 68%);
  --dark-purple-500: hsl(280, 30%, 57%);
  --dark-purple-600: hsl(280, 30%, 46%);
  --dark-purple-700: hsl(280, 30%, 34%);
  --dark-purple-800: hsl(280, 30%, 22%);
  --dark-purple-900: hsl(280, 30%, 10%);
  --dark-purple-10: hsl(280, 30%, 5%);

  /* Dark Orange */
  --dark-orange-50: hsl(25, 70%, 99%);
  --dark-orange-100: hsl(25, 70%, 95%);
  --dark-orange-200: hsl(25, 70%, 87%);
  --dark-orange-300: hsl(25, 70%, 78%);
  --dark-orange-400: hsl(25, 70%, 68%);
  --dark-orange-500: hsl(25, 70%, 57%);
  --dark-orange-600: hsl(25, 70%, 46%);
  --dark-orange-700: hsl(25, 70%, 34%);
  --dark-orange-800: hsl(25, 70%, 22%);
  --dark-orange-900: hsl(25, 70%, 10%);
  --dark-orange-10: hsl(25, 70%, 5%);
}
